{% extends 'kanban/base.html' %}
{% load static %}
{% load rest_framework %}
{% block content %}
{% include 'kanban/nav_bar.html' %}
<div id='container'>
  <div class='big-block' id='backlog'>
    <h1>Backlog</h1>
    {% for task in task %}
      {% if task.status == 'backlog' %}
      <div class="wrapper-content" id='backlog'>
        <h3><div class='task_name' id='{{task.id}}'>{{task.name}}</div></h3>
        <div class='task_content' id='{{task.id}}'>Priority level: {{task.priority}}/10</div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class='big-block' id='active'>
    <h1>Active</h1>
    {% for task in task %}
      {% if task.status == 'active' %}
      <div class="wrapper-content" id='active'>
        <h3><div class='task_name' id='{{task.id}}'>{{task.name}}</div></h3>
        <div class='task_content' id='{{task.id}}'>Priority level: {{task.priority}}/10</div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class='big-block' id='complete'>
    <h1>Complete</h1>
    {% for task in task %}
      {% if task.status == 'complete' %}
      <div class="wrapper-content" id='complete'>
        <h3><div class='task_name' id='{{task.id}}'>{{task.name}}</div></h3>
        <div class='task_content' id='{{task.id}}'>Priority level: {{task.priority}}/10</div>
      </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class='wrapper-content' id='new_task'>
    <a href='/kanban/new_task'><img width=30 height=30 src='{% static "/images/new_task.png" %}'/></a>
  </div>
</div>
{% endblock %}
