{% extends 'kanban/base.html' %}
{% load static %}
{% load rest_framework %}
{% block content %}
{% include 'kanban/nav_bar.html' %}
<div id='container'>
  <div id='big-block'>
    <h1>Backlog</h1>
    {% for task in task %}
      {% if task.status == 'backlog' %}
      <div class="wrapper-content" id='backlog'>
        <h3><div class='task_name' id='{{task.id}}'>{{task.name}}</div></h3>
        <div class='task_content' id='{{task.id}}'>Priority level: {{task.priority}}/10</div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <div id='big-block'>
    <h1>Active</h1>
    {% for task in task %}
      {% if task.status == 'active' %}
      <div class="wrapper-content" id='active'>
        <h3><div class='task_name' id='{{task.id}}'>{{task.name}}</div></h3>
        <div class='task_content' id='{{task.id}}'>Priority level: {{task.priority}}/10</div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <div id='big-block'>
    <h1>Complete</h1>
    {% for task in task %}
      {% if task.status == 'complete' %}
      <div class="wrapper-content" id='complete'>
        <h3><div class='task_name' id='{{task.id}}'>{{task.name}}</div></h3>
        <div class='task_content' id='{{task.id}}'>Priority level: {{task.priority}}/10</div>
      </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class='wrapper-content' id='new_task'>
    <img class='add_task' width=30 height=30 src='{% static "/images/new_task.png" %}?v=00006'/>
    <form method="POST" class="input">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">Save</input>
    </form>
  </div>
</div>
{% endblock %}
