{% load static %}
<header id='nav'>

  <div id='search'>
    <input type='text' name='search' placeholder="Search...">
  </div>

  <div id='logo'>
    <a href='/kanban/'>
      <img src='{% static "/images/kanbanlogo.png" %}' alt='Kanban' height='42' width='42'/>
    </a>
  </div>

  {% if user.is_authenticated %}
  <div id='account'>
    Welcome, {{user}} | <a class='navbutton' href='/logout'>Logout</a>
  </div>
  {% else %}
  <div id='account'>
    <a class='navbutton' href='/login'>Login</a> | <a class='navbutton' href='/signup'>Signup</a>
  </div>
  {% endif %}
</header>
