body{
  background-color: #838C91;
  margin: 0;
  font-size: 15px;
  font-family: sans-serif;
}

img#id{
  width: 20px;
  height: 20px;
}

header#nav{
  height:40px;
  overflow: hidden;
  position: relative;
  background-color: teal;
  text-align: center;
}

div#logo{
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  display: inline-block;
}

div#post{
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  float: left;
  vertical-align: middle;
}

div#account{
  height: 40px;
  line-height: 40px;
  padding-right: 20px;
  float: right;
  vertical-align: middle;
}

div.wrapper-content{
  width: 200px;
  float: left;
  height: auto;
  padding: 10px;
  border: 1px solid #000;
  margin-left: 10px;
}

div#container{
  width: 90%;
  padding: 10px;
  height: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid #000;
}
