body{
  background-color: #b39e6c;
  margin: 0;
  font-size: 15px;
  font-family: sans-serif;
}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

a#logout{
  padding: 10px;
  text-decoration: none;
  color: white;
}

header#nav{
  height:40px;
  overflow: hidden;
  position: relative;
  background-color: #327d6d;
  text-align: center;
}

div#logo{
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  display: inline-block;
}

div#search{
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  float: left;
  vertical-align: middle;
}

div#account{
  height: 40px;
  line-height: 40px;
  padding-right: 20px;
  float: right;
  vertical-align: middle;
  font-weight: 100;
  color: white;
}

div.wrapper-content{
  width: 200px;
  float: left;
  height: auto;
  padding: 10px;
  border: 2.5px solid #000;
  margin-left: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  opacity: 0.5;
  transition: opacity .5s ease-in-out;
}

div.wrapper-content:hover{
      opacity: 1;
}

div#container{
  width: 90%;
  padding: 10px;
  height: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid #000;
}
